html{
    background-color: rgb(100, 131, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: darkgray;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    margin: 0;
}
form{
    width: 600px;
    background-color: white;
    box-shadow: -4px -4px 5px black;
}
input, label{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
label{
    margin-bottom: .25em;
    text-transform: uppercase;
}
input{
    padding: .75em;
    border: none;
    border-bottom: 2px solid blue;
    margin-bottom: 1.5em;
    outline: none;
    font-size: 1em;
}
fieldset{
    border: none;
    margin: 0 20px;
}
p{
    font-size: .8em;
    margin-left: auto;
    text-align: end;
}
.btn{
    cursor: pointer;
    background-color: blue;
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
}
.btn2{
    border: none;
    cursor: pointer;
    color: blue;
    text-transform: uppercase;
    background-color: transparent;
    width: fit-content;
}
.btn-login{
    margin-top: 15px;
    margin-left: auto;
}
.action{
    display: flex;
    gap: 1em;
}