.assinaturas {
    padding: 4rem 2rem;
    background-color: var(--background_color);
    text-align: center;
}
.main-title {
    font-size: 2em;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.planos-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.plano {
    background-color: rgba(182, 172, 172, 0.2);
    padding: 2rem;
    border-radius: 16px;
    width: 280px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
.plano:hover {
    transform: translateY(-5px);
}
.plano h2 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.preco {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: bold;
}
.preco span {
    font-size: 0.9rem;
}
.plano ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    color: var(--text_color);
}
.plano ul li {
    margin-bottom: 0.5rem;
}
.botao-plano {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--button);
    color: #fff;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.botao-plano:hover {
    background-color: #b67d4a;
}

/* Responsivo */
@media (max-width: 768px) {
    .planos-container {
        flex-direction: column;
        align-items: center;
    }

    .plano {
        width: 90%;
        max-width: 400px;
    }
}
