:root {
    --header_color: #83602C;
    --text_color: #000;
    --background_color: #D8BB90;
    --button: #c19a6b;
}

.dark-mode {
    --header_color: #1a1a1a;
    --text_color: #f0f0f0;
    --background_color: #494242;
    --button: #e4b07f;
}

body {
    background-color: var(--background_color);
    color: var(--text_color);
    transition: background-color 0.3s, color 0.3s;
}